* {
  background-color: rgb(82, 82, 82);
  color: rgb(255, 255, 255);
  font-family: "Tahoma";
}

body,
h1,
p,
.topnav {
  margin: 10px 5px 15px 20px;
}

.topnav {
  background-color: rgb(82, 82, 82);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #000000;
  border-radius: 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3d5f3b;
  border-radius: 10px;
  color: white;
}

.contactlinks a svg {
  pointer-events: none;
}
.contactlinks a path {
  fill: #ffffff;
}
.contactlinks a {
  border: 5px solid transparent;
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 0.9em;
  /*margin-right:0.4em;*/
  /*font-style: italic;*/
  opacity: 0.7;
}
.contactlinks a:first-child {
  margin-left: -5px;
}

.portfolio_object {
  margin-bottom: 100px;
}
