body,
h1,
p {
  background: rgb(191, 238, 174);
  background: radial-gradient(
    circle,
    rgba(191, 238, 174, 1) 0%,
    rgba(233, 226, 148, 1) 100%
  );
  margin: 10px 5px 15px 20px;
  font-family: "Poppins", sans-serif;
}

.topnav {
  overflow: hidden;
  margin: 10px 5px 15px 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  color: black;
  font-weight: 700;
  padding: 30px 36px;
  margin: 0.5%;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: blue;
  border-radius: 5px;
  font-weight: bold;
  animation: jump-shaking 2s infinite;
  animation-delay: 0.2s;
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(17deg);
  }
  55% {
    transform: translateY(-9px) rotate(-17deg);
  }
  65% {
    transform: translateY(-9px) rotate(17deg);
  }
  75% {
    transform: translateY(-9px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

/* Add a color to the active/current link */
.topnav a.active {
  border-radius: 10px;
  transform: scale(1.05);
  font-weight: bold;
  color: blue;
}

.contactlinks a svg {
  pointer-events: none;
}
.contactlinks a path {
  fill: #000000;
}
.contactlinks a {
  border: 5px solid transparent;
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 0.9em;
  /*margin-right:0.4em;*/
  /*font-style: italic;*/
  opacity: 0.7;
}
.contactlinks a:first-child {
  margin-left: -5px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}

.project figure {
  border: thin #c0c0c0 solid;
  display: flex;
  max-width: auto;
  max-height: auto;
  align-items: center;
  height: auto;
  width: auto;
}

.project figure:hover {
  transform: scale(1.05);
}

.project figure figcaption {
  background-color: #222;
  color: #fff;
  font-size: small;
  padding: 5px;
  width: auto;
  text-align: center;
}

.project figure img {
  height: 400px;
  width: 400px;
}

.project-header {
  padding: 30px;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
}

.project-description {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.project-media {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.project-media > embed {
  width: 80vw;
  height: 90vh;
}

.caption-link {
  text-decoration: none;
}
