* {
  font-family: "Poppins", sans-serif;
}

p {
  margin: 10px 5px 15px 20px;
  justify-content: center;
  text-align: center;
}

body {
  background: rgb(191, 238, 174);
  background: radial-gradient(
    circle,
    rgba(191, 238, 174, 1) 0%,
    rgba(233, 226, 148, 1) 100%
  );
}

.topnav {
  overflow: hidden;
  margin: 10px 5px 15px 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  color: black;
  font-weight: 700;
  padding: 30px 36px;
  margin: 0.5%;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: blue;
  border-radius: 5px;
  font-weight: bold;
  animation: jump-shaking 2s infinite;
  animation-delay: 0.2s;
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(17deg);
  }
  55% {
    transform: translateY(-9px) rotate(-17deg);
  }
  65% {
    transform: translateY(-9px) rotate(17deg);
  }
  75% {
    transform: translateY(-9px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

/* Add a color to the active/current link */
.topnav a.active {
  border-radius: 10px;
  transform: scale(1.05);
  font-weight: bold;
  color: blue;
}

.contactlinks a svg {
  pointer-events: none;
}
.contactlinks a path {
  fill: #000000;
}
.contactlinks a {
  border: 5px solid transparent;
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 0.9em;
  /*margin-right:0.4em;*/
  /*font-style: italic;*/
  opacity: 0.7;
}
.contactlinks a:first-child {
  margin-left: -5px;
}

.project-grid {
  display: grid;
  --cell: 20em;
  --grid: repeat(3, var(--cell));
  grid-template: auto / var(--grid);
  grid-gap: min(5vw, 5em);
  justify-content: center;
}

.project-grid img {
  width: 20em;
  height: 20em;
  object-fit: cover;
}
